<a href="https://colab.research.google.com/github/gublalo/code/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Importa las librerías requeridas.**

In [40]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

**2. Lee el archivo CSV llamado empleadosRETO.csv y coloca los datos en un frame de Pandas llamado EmpleadosAttrition.**

In [41]:
EmpleadosAttrition = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/RETO.csv")
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes

**3. Elimina las columnas que, con alta probabilidad (estimada por ti), no tienen relación alguna con la salida. Hay algunas columnas que contienen información que no ayuda a definir el desgaste de un empleado, tal es caso de las siguientes:**

 a. EmployeeCount: número de empleados, todos tienen un 1

 b. EmployeeNumber: ID del empleado, el cual es único para cada empleado

 c. Over18: mayores de edad, todos dicen “Y”

 d. StandardHours: horas de trabajo, todos tienen “80”

In [42]:
EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis = 1, inplace = True)
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes

**4. Analiza la información proporcionada, si detectaste que no se cuenta con los años que el empelado lleva en la compañía y parece ser un buen dato. Dicha cantidad se puede calcular con la fecha de contratación ‘HiringDate’.**

In [45]:
from datetime import date

hoy = date.today()
dato = hoy.year - EmpleadosAttrition['HiringDate'].str.split(pat = '/').str[2].astype(int)
dato.head()

0    10
1     8
2     6
3    13
4    12
Name: HiringDate, dtype: int64

**5. Crea una columna llamada Year y obtén el año de contratación del empleado a partir de su fecha ‘HiringDate’. No se te olvide que debe ser un entero**

In [46]:
EmpleadosAttrition['Year'] = EmpleadosAttrition['HiringDate'].str.split(pat = '/').str[2].astype(int)
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,22,4,3,32,1,2,4,1,No,2013
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,20,4,4,7,0,3,2,0,No,2015
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,13,3,2,1,3,3,0,1,Yes,2017
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,19,3,4,18,4,3,6,4,No,2010
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,12,3,4,15,2,4,6,7,Yes,2011

**6. Crea una columna llamada YearsAtCompany que contenga los años que el empleado lleva en la compañía hasta el año 2018. Para su cálculo, usa la variable Year que acabas de crear.**

In [47]:
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Year']
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7

**7. La DistanceFromHome está dada en kilómetros, pero tiene las letras “km” al final y así no puede ser entera.**

In [48]:
EmpleadosAttrition['DistanceFromHome'] = EmpleadosAttrition['DistanceFromHome'].str.split().str[0].astype(int)
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7

**8. Renombra la variable DistanceFromHome a DistanceFromHome_km.**

In [49]:
EmpleadosAttrition = EmpleadosAttrition.rename(columns = {'DistanceFromHome' : 'DistanceFromHome_Km'})
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome_Km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,5
1,36,Travel_Rarely,Research & Development,6,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,3
2,21,Travel_Rarely,Sales,7,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,1
3,52,Travel_Rarely,Research & Development,7,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,8
4,33,Travel_Rarely,Research & Development,15,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,7

**9. Crea una nueva variable DistanceFromHome que sea entera, es decir, solo con números.**

In [50]:
EmpleadosAttrition['DistanceFromHome'] = 0
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome_Km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Year,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,1,2,Medical,4,Male,3,4,...,3,32,1,2,4,1,No,2013,5,0
1,36,Travel_Rarely,Research & Development,6,2,Medical,2,Male,3,2,...,4,7,0,3,2,0,No,2015,3,0
2,21,Travel_Rarely,Sales,7,1,Marketing,2,Male,3,1,...,2,1,3,3,0,1,Yes,2017,1,0
3,52,Travel_Rarely,Research & Development,7,4,Life Sciences,2,Male,3,3,...,4,18,4,3,6,4,No,2010,8,0
4,33,Travel_Rarely,Research & Development,15,1,Medical,2,Male,3,3,...,4,15,2,4,6,7,Yes,2011,7,0

**10. Borra las columnas Year, HiringDate y DistanceFromHome_km debido a que ya no son útiles.**

In [51]:
EmpleadosAttrition.drop(['Year', 'HiringDate', 'DistanceFromHome_Km'], axis = 1, inplace = True)
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobRole,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,DistanceFromHome
0,50,Travel_Rarely,Research & Development,2,Medical,4,Male,3,4,Research Director,...,4,3,32,1,2,4,1,No,5,0
1,36,Travel_Rarely,Research & Development,2,Medical,2,Male,3,2,Manufacturing Director,...,4,4,7,0,3,2,0,No,3,0
2,21,Travel_Rarely,Sales,1,Marketing,2,Male,3,1,Sales Representative,...,3,2,1,3,3,0,1,Yes,1,0
3,52,Travel_Rarely,Research & Development,4,Life Sciences,2,Male,3,3,Healthcare Representative,...,3,4,18,4,3,6,4,No,8,0
4,33,Travel_Rarely,Research & Development,1,Medical,2,Male,3,3,Manager,...,3,4,15,2,4,6,7,Yes,7,0

**11. Aprovechando los ajustes que se están haciendo, la empresa desea saber si todos los departamentos tienen un ingreso promedio similar. Genera una nuevo frame llamado SueldoPromedioDepto que contenga el MonthlyIncome promedio por departamento de los empleados y colócalo en una variable llamada SueldoPromedio. Esta tabla solo es informativa, no la vas a utilizar en el set de datos que estás construyendo.**

In [52]:
SueldoPromedioDepto = EmpleadosAttrition.groupby(['Department'])[['MonthlyIncome']].mean()
SueldoPromedioDepto = SueldoPromedioDepto.rename(columns = {'MonthlyIncome' : 'SueldoPromedio'})
SueldoPromedioDepto.head()

                        SueldoPromedio
Department
Human Resources            6239.888889
Research & Development     6804.149813
Sales                      7188.250000

**12. La variable MonthlyIncome tiene un valor numérico muy grande comparada con las otras variables. Escala dicha variable para que tenga un valor entre 0 y 1.**

In [53]:
EmpleadosAttrition['MonthlyIncome'] = (EmpleadosAttrition['MonthlyIncome'] - min(EmpleadosAttrition['MonthlyIncome'])) / (max(EmpleadosAttrition['MonthlyIncome']) - min(EmpleadosAttrition['MonthlyIncome']))
EmpleadosAttrition['MonthlyIncome']

0      0.864269
1      0.207340
2      0.088062
3      0.497574
4      0.664470
         ...
395    0.075248
396    0.187197
397    0.589327
398    0.121124
399    0.092122
Name: MonthlyIncome, Length: 400, dtype: float64

**13. Todo parece indicar que las variables categóricas que quedan sí son importantes para obtener la variable de salida. Convierte todas las variables categóricas que quedan a numéricas:**

**a) BusinessTravel**

**b) Department**

**c) EducationField**

**d) Gender**

**e) JobRole**

**f) MaritalStatus**

**g) Attrition**

In [54]:
businessTavel_OH = pd.get_dummies(EmpleadosAttrition.BusinessTravel, prefix = 'BT')
EmpleadosAttrition.drop(['BusinessTravel'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, businessTavel_OH], axis = 1)

Department_OH = pd.get_dummies(EmpleadosAttrition.Department, prefix = 'D')
EmpleadosAttrition.drop(['Department'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Department_OH], axis = 1)

EducationField_OH = pd.get_dummies(EmpleadosAttrition.EducationField, prefix = 'EF')
EmpleadosAttrition.drop(['EducationField'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, EducationField_OH], axis = 1)

Gender_OH = pd.get_dummies(EmpleadosAttrition.Gender, prefix = 'G')
Gender_OH.drop(['G_Female'], axis = 1, inplace = True)
EmpleadosAttrition.drop(['Gender'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Gender_OH], axis = 1)

JobRole_OH = pd.get_dummies(EmpleadosAttrition.JobRole, prefix = 'JR')
EmpleadosAttrition.drop(['JobRole'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, JobRole_OH], axis = 1)

MaritalStatus_OH = pd.get_dummies(EmpleadosAttrition.MaritalStatus, prefix = 'MS')
EmpleadosAttrition.drop(['MaritalStatus'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, MaritalStatus_OH], axis = 1)

Attrition_OH = pd.get_dummies(EmpleadosAttrition.Attrition, prefix = 'A')
Attrition_OH.drop(['A_No'], axis = 1, inplace = True)
EmpleadosAttrition.drop(['Attrition'], axis = 1, inplace = True)
EmpleadosAttrition = pd.concat([EmpleadosAttrition, Attrition_OH], axis = 1)

EmpleadosAttrition.head()

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,...,JR_Manager,JR_Manufacturing Director,JR_Research Director,JR_Research Scientist,JR_Sales Executive,JR_Sales Representative,MS_Divorced,MS_Married,MS_Single,A_Yes
0,50,2,4,3,4,4,0.864269,9,No,22,...,0,0,1,0,0,0,1,0,0,0
1,36,2,2,3,2,2,0.207340,6,No,20,...,0,1,0,0,0,0,1,0,0,0
2,21,1,2,3,1,2,0.088062,1,No,13,...,0,0,0,0,0,1,0,0,1,1
3,52,4,2,3,3,2,0.497574,7,No,19,...,0,0,0,0,0,0,0,0,1,0
4,33,1,2,3,3,3,0.664470,7,Yes,12,...,1,0,0,0,0,0,0,1,0,1

**14. Ahora debes hacer la evaluación de las variables para quedarte con las mejores. Calcula la correlación lineal de cada una de las variables con respecto al Attrition.**

In [55]:
EmpleadosAttrition.drop(['DistanceFromHome'], axis = 1, inplace = True)
correlacionLineal = EmpleadosAttrition.corr()
correlacionLineal

<ipython-input-55-b8052057ba6b>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlacionLineal = EmpleadosAttrition.corr()

,Age,Education,EnvironmentSatisfaction,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,...,JR_Manager,JR_Manufacturing Director,JR_Research Director,JR_Research Scientist,JR_Sales Executive,JR_Sales Representative,MS_Divorced,MS_Married,MS_Single,A_Yes
Age,1.000000,0.199808,-0.006172,0.038652,0.458324,0.001805,0.441068,0.328008,0.003611,0.008326,...,0.235267,0.051416,0.196527,-0.124101,-0.034695,-0.235906,-0.003372,0.089516,-0.108957,-0.212121
Education,0.199808,1.000000,-0.015712,-0.000257,0.006736,-0.028497,0.000496,0.093046,-0.006891,-0.042392,...,-0.075939,-0.043489,0.007268,0.028616,0.079862,-0.136711,0.053575,-0.042435,0.009925,-0.055531
EnvironmentSatisfaction,-0.006172,-0.015712,1.000000,0.018475,-0.055742,-0.005172,-0.049005,0.023108,-0.040235,0.002158,...,0.040536,0.004762,-0.049435,0.116724,-0.065868,-0.045226,0.011568,0.009449,-0.014669,-0.124327
JobInvolvement,0.038652,-0.000257,0.018475,1.000000,-0.016726,-0.028170,-0.030095,-0.028657,-0.065058,-0.090367,...,-0.011170,-0.063988,0.015918,0.036236,-0.015806,-0.001756,-0.045850,0.103672,-0.061005,-0.166785
JobLevel,0.458324,0.006736,-0.055742,-0.016726,1.000000,0.016500,0.951696,0.166284,0.006128,0.010338,...,0.476576,0.102940,0.499024,-0.394747,0.086838,-0.239694,-0.018765,0.051072,-0.054877,-0.214266
JobSatisfaction,0.001805,-0.028497,-0.005172,-0.028170,0.016500,1.000000,-0.006449,-0.018538,-0.036721,-0.042605,...,-0.004399,0.049268,-0.064142,0.028980,0.060764,-0.072162,0.065125,-0.037764,-0.013220,-0.164957
MonthlyIncome,0.441068,0.000496,-0.049005,-0.030095,0.951696,-0.006449,1.000000,0.173401,0.006342,0.008695,...,0.548221,0.035150,0.569730,-0.359161,0.017301,-0.220020,-0.026641,0.054325,-0.050525,-0.194936
NumCompaniesWorked,0.328008,0.093046,0.023108,-0.028657,0.166284,-0.018538,0.173401,1.000000,0.012509,0.019571,...,0.097477,0.023986,0.102224,-0.116474,-0.030758,-0.125213,0.014955,0.014693,-0.036476,-0.009082
PercentSalaryHike,0.003611,-0.006891,-0.040235,-0.065058,0.006128,-0.036721,0.006342,0.012509,1.000000,0.787967,...,0.069544,0.031204,-0.031326,0.031534,-0.069628,0.015341,-0.050824,0.034205,0.001909,-0.060880
PerformanceRating,0.008326,-0.042392,0.002158,-0.090367,0.010338,-0.042605,0.008695,0.019571,0.787967,1.000000,...,0.081192,0.023506,-0.039167,0.031607,-0.064313,0.008269,-0.044992,-0.041708,0.074205,-0.006471
RelationshipSatisfaction,0.089136,0.074025,-0.035501,0.015154,0.035880,0.006881,0.050449,0.049711,-0.060688,-0.025205,...,0.054272,0.057337,-0.024791,-0.046979,0.050059,-0.051244,0.048286,-0.000594,-0.022531,-0.030945
TotalWorkingYears,0.628271,0.066997,-0.033985,-0.029659,0.753435,-0.006692,0.739958,0.251247,0.066481,0.061010,...,0.400253,0.070020,0.359642,-0.229902,-0.047192,-0.238649,-0.005983,0.081762,-0.085132,-0.213329
TrainingTimesLastYear,-0.078236,-0.035416,-0.003851,0.004467,-0.018681,-0.023190,-0.030548,-0.076036,-0.005640,-0.042270,...,0.000352,0.029950,-0.051372,-0.064529,0.046878,0.062188,0.033025,0.002741,-0.013738,-0.070884
WorkLifeBalance,0.013865,0.024112,-0.010948,0.013515,0.085577,-0.038488,0.089462,-0.005471,-0.001040,-0.030026,...,0.058568,0.066674,0.053729,-0.051818,-0.005934,0.025176,0.014050,-0.035316,0.041668,-0.021723
YearsInCurrentRole,0.130490,0.051428,-0.010912,-0.025541,0.396268,0.064629,0.373788,-0.057878,0.079314,0.088413,...,0.139295,0.012504,0.221664,-0.146967,0.102442,-0.160339,0.044210,0.055791,-0.124278,-0.203918
YearsSinceLastPromotion,0.119118,0.039744,-0.009079,-0.032459,0.384208,-0.013571,0.367305,-0.050755,0.079366,0.108768,...,0.255570,-0.029551,0.073774,-0.139449,0.056776,-0.086813,0.005928,0.047265,-0.052601,-0.069000
YearsAtCompany,0.186010,0.044978,-0.013550,-0.010312,0.507820,0.037322,0.488440,-0.105692,0.068914,0.065236,...,0.230777,0.035904,0.224261,-0.164260,0.053070,-0.176251,0.078852,0.037204,-0.126679,-0.176001
BT_Non-Travel,-0.066922,-0.014981,-0.017601,-0.111339,0.019982,0.058584,0.012843,0.036783,0.045522,0.036437,...,0.050083,-0.002612,-0.015019,-0.107020,0.033131,-0.015232,0.071830,-0.090002,0.022163,-0.100698
BT_Travel_Frequently,-0.013790,-0.030642,-0.036939,0.020533,0.029241,-0.008179,0.006473,-0.130871,0.022659,-0.027520,...,-0.061248,0.003604,-0.033458,0.037153,-0.000896,0.069731,0.012072,-0.005903,0.009458,0.035387
BT_Travel_Rarely,0.061745,0.055044,0.027618,0.051085,-0.020863,-0.026861,0.001328,0.092087,-0.049373,-0.002580,...,0.027340,-0.011650,0.045602,0.031449,-0.009085,-0.067947,-0.056839,0.050466,-0.009086,0.042755
D_Human Resources,0.009565,0.011476,-0.001136,-0.003782,-0.021954,-0.015868,-0.020797,0.087532,0.022725,-0.029693,...,0.028378,-0.051966,-0.047713,-0.069875,-0.079399,-0.039173,0.072627,0.026007,-0.094025,0.023389
D_Research & Development,0.085686,-0.003211,0.060895,0.000758,-0.063262,-0.016884,-0.030807,0.051699,0.012773,0.026342,...,-0.115270,0.241743,0.221958,0.325059,-0.741505,-0.365834,-0.000994,0.058585,-0.072204,-0.072269
D_Sales,-0.090350,-0.000409,-0.061665,0.000441,0.071480,0.022286,0.038049,-0.080730,-0.020298,-0.017311,...,0.108318,-0.229583,-0.210793,-0.308708,0.780779,0.385210,-0.022276,-0.068015,0.103700,0.066116
EF_Human Resources,0.000425,0.028122,-0.012416,-0.020612,-0.002334,-0.029115,0.002024,0.097044,0.027262,-0.015265,...,0.042149,-0.045713,-0.041971,-0.061467,-0.069845,-0.034459,0.014285,0.065323,-0.082711,0.043404
EF_Life Sciences,-0.044136,0.012152,0.009696,-0.025055,-0.029394,0.007206,-0.033237,-0.034322,0.073961,0.062704,...,-0.077996,0.063706,0.045962,0.028407,-0.038250,-0.049258,-0.055014,-0.035608,0.072822,-0.027457
EF_Marketing,0.036665,0.088999,-0.043271,-0.000348,0.029041,-0.027108,0.025763,0.013245,-0.004255,0.019114,...,0.052915,-0.110974,-0.101892,-0.149221,0.370042,0.198130,0.057496,-0.048858,-0.010378,0.016768
EF_Medical,0.069764,-0.117833,0.023401,0.069263,0.045214,0.010604,0.059246,0.040163,-0.023109,-0.037460,...,0.095325,0.037115,0.020808,0.040579,-0.147277,-0.093349,0.041331,-0.000426,-0.019355,-0.054144
EF_Other,-0.017710,0.072455,0.075750,-0.032205,-0.032314,-0.050219,-0.039444,0.006812,-0.100698,-0.077164,...,-0.058880,-0.038149,0.052980,0.051812,-0.059650,-0.057659,-0.015411,0.025198,-0.007153,-0.004275
EF_Technical Degree,-0.078360,0.018248,-0.077323,-0.045780,-0.034910,0.060854,-0.047095,-0.087075,-0.030144,-0.003512,...,-0.063609,-0.011089,-0.037551,0.033189,0.007207,0.118918,-0.032866,0.080415,-0.051552,0.129104
G_Male,0.010663,0.045365,0.036711,0.067207,-0.070026,0.084429,-0.090454,-0.063794,0.030331,0.008915,...,-0.041368,0.012300,-0.102397,0.007659,-0.020512,-0.009148,0.125142,-0.056483,-0.046371,-0.028839
JR_Healthcare Representative,0.122278,0.088247,-0.037427,0.006799,0.085338,0.015651,0.031230,0.082796,0.021565,-0.010675,...,-0.087888,-0.114173,-0.104828,-0.153522,-0.174447,-0.086066,0.007805,0.020036,-0.039083,-0.103274
JR_Human Resources,-0.032488,-0.006078,-0.006416,0.012627,-0.068376,-0.038009,-0.065587,0.049565,-0.001132,-0.068626,...,-0.037666,-0.048931,-0.044926,-0.065795,-0.074763,-0.036886,0.086969,0.008587,-0.088535,0.032714
JR_Laboratory Technician,-0.116831,-0.016711,0.022702,0.019164,-0.362990,-0.036269,-0.338865,-0.013963,-0.029851,0.024657,...,-0.118268,-0.153638,-0.141064,-0.206589,-0.234747,-0.115816,0.061449,-0.006573,-0.053714,0.125264
JR_Manager,0.235267,-0.075939,0.040536,-0.011170,0.476576,-0.004399,0.548221,0.097477,0.069544,0.081192,...,1.000000,-0.090310,-0.082918,-0.121435,-0.137986,-0.068078,-0.053188,0.056485,-0.004869,-0.089885
JR_Manufacturing Director,0.051416,-0.043489,0.004762,-0.063988,0.102940,0.049268,0.035150,0.023986,0.031204,0.023506,...,-0.090310,1.000000,-0.107717,-0.157752,-0.179253,-0.088438,-0.020623,0.004248,0.024497,-0.042404
JR_Research Director,0.196527,0.007268,-0.049435,0.015918,0.499024,-0.064142,0.569730,0.102224,-0.031326,-0.039167,...,-0.082918,-0.107717,1.000000,-0.144841,-0.164583,-0.081200,-0.013091,0.018903,-0.019314,-0.116263
JR_Research Scientist,-0.124101,0.028616,0.116724,0.036236,-0.394747,0.028980,-0.359161,-0.116474,0.031534,0.031607,...,-0.121435,-0.157752,-0.144841,1.000000,-0.241033,-0.118918,-0.012325,0.001318,0.008449,0.007977
JR_Sales Executive,-0.034695,0.079862,-0.065868,-0.015806,0.086838,0.060764,0.017301,-0.030758,-0.069628,-0.064313,...,-0.137986,-0.179253,-0.164583,-0.241033,1.000000,-0.135126,0.019378,-0.017314,0.001835,-0.003115
JR_Sales Representative,-0.235906,-0.136711,-0.045226,-0.001756,-0.239694,-0.072162,-0.220020,-0.125213,0.015341,0.008269,...,-0.068078,-0.088438,-0.081200,-0.118918,-0.135126,1.000000,-0.072548,-0.077599,0.162900,0.191294
MS_Divorced,-0.003372,0.053575,0.011568,-0.045850,-0.018765,0.065125,-0.026641,0.014955,-0.050824,-0.044992,...,-0.053188,-0.020623,-0.013091,-0.012325,0.019378,-0.072548,1.000000,-0.529188,-0.348266,-0.107869
MS_Married,0.089516,-0.042435,0.009449,0.103672,0.051072,-0.037764,0.054325,0.014693,0.034205,-0.041708,...,0.056485,0.004248,0.018903,0.001318,-0.017314,-0.077599,-0.529188,1.000000,-0.583611,-0.094734
MS_Single,-0.108957,0.009925,-0.014669,-0.061005,-0.054877,-0.013220,-0.050525,-0.036476,0.001909,0.074205,...,-0.004869,0.024497,-0.019314,0.008449,0.001835,0.162900,-0.348266,-0.583611,1.000000,0.205849
A_Yes,-0.212121,-0.055531,-0.124327,-0.166785,-0.214266,-0.164957,-0.194936,-0.009082,-0.060880,-0.006471,...,-0.089885,-0.042404,-0.116263,0.007977,-0.003115,0.191294,-0.107869,-0.094734,0.205849,1.000000

**15. Selecciona solo aquellas variables que tengan una correlación mayor o igual a 0.1, dejándolas en otro frame llamado EmpleadosAttritionFinal. No olvides mantener la variable de salidaAttrition; esto es equivalente a borrar las que no cumplen con el límite.**

In [56]:
EmpleadosAttritionFinal = EmpleadosAttrition[['EF_Technical Degree', 'JR_Laboratory Technician', 'JR_Sales Representative', 'MS_Single', 'A_Yes']]
EmpleadosAttritionFinal.head()

,EF_Technical Degree,JR_Laboratory Technician,JR_Sales Representative,MS_Single,A_Yes
0,0,0,0,0,0
1,0,0,0,0,0
2,0,0,1,1,1
3,0,0,0,1,0
4,0,0,0,0,1

**16. Crea una nueva variable llamada EmpleadosAttritionPCA formada por los componentes principales del frame EmpleadosAttritionFinal. Recuerda que el resultado del proceso PCA es un numpy array, por lo que, para hacer referencia a una columna, por ejemplo, la 0, puedes usar la instrucción EmpleadosAttritionPCA[:,0]).**

In [57]:
pca = PCA()
EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal)
EmpleadosAttritionPCA

array([[-0.3209446 , -0.17001888,  0.04862275, -0.06323365, -0.03072831],
       [-0.3209446 , -0.17001888,  0.04862275, -0.06323365, -0.03072831],
       [ 1.13093509,  0.11558706,  0.60139958,  0.44993043, -0.52223114],
       ...,
       [-0.3209446 , -0.17001888,  0.04862275, -0.06323365, -0.03072831],
       [-0.3538738 ,  0.66437136, -0.47180437,  0.11488417, -0.04248574],
       [-0.3209446 , -0.17001888,  0.04862275, -0.06323365, -0.03072831]])

**17. Agrega el mínimo número de Componentes Principales en columnas del frame EmpleadosAttritionPCA que logren explicar el 80% de la varianza, al frame EmpleadosAttritionFinal. Puedes usar la instrucción assign, columna por columna, llamando a cada unaC0, C1, etc., hasta las que vayas a agregar.**

In [58]:
pca.explained_variance_ratio_ * 100

array([37.22181968, 25.92376138, 19.63728179,  9.30396065,  7.9131765 ])

In [59]:
np.sum(pca.explained_variance_ratio_[0] + pca.explained_variance_ratio_[1] + pca.explained_variance_ratio_[2]) * 100

82.78286285133841

In [60]:
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C0 = EmpleadosAttritionPCA[:, 0])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C1 = EmpleadosAttritionPCA[:, 1])
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(C2 = EmpleadosAttritionPCA[:, 2])
EmpleadosAttritionFinal.head()

,EF_Technical Degree,JR_Laboratory Technician,JR_Sales Representative,MS_Single,A_Yes,C0,C1,C2
0,0,0,0,0,0,-0.320945,-0.170019,0.048623
1,0,0,0,0,0,-0.320945,-0.170019,0.048623
2,0,0,1,1,1,1.130935,0.115587,0.601400
3,0,0,0,1,0,0.581411,-0.364629,-0.323278
4,0,0,0,0,1,0.083551,0.343752,0.755421

**18. Guarda el set de datos que has formado y que tienes en EmpleadosAttritionFinal en un archivo CSV llamado EmpleadosAttritionFinal.csv. Las últimas columnas que colocaste quedarán después de la variable Attrition, lo cual no importa, pero si gustas lo puedes arreglar antes de escribir el archivo.**

In [61]:
EmpleadosAttritionFinal.to_csv("EmpleadosAttritionFinal.csv")